.shopProductBox{
    width: 100%;
}
.shopProductBox>li{
    width: 30%;
    min-width: 92px;
    margin-right: 1em;
}
.shopProductBox>li:last-child{
    margin-right: 0;
}
.shopsPic{
    width: 20%;
    height: 50px;
    background-color: #ddd;
    margin-right: 5%;
}
.shopProductBox>li{
    width: 25%;
}
.shopProductPic{
    height: 80px;
    background-color: #ddd;
    border: 1px solid #ddd;
}
.marginBottom4{
    margin-bottom: 4%;
}
@media screen and (max-width: 400px){
    .shopProductBox>li>p{
        font-size: 0.8em;
    }
}